<h3>HTML5 geoLocation API in action</h3>

<div class="geo-location-container">
  <p id ="geo-message">Click the button to see you longitude and latitude</p>
  <button onclick="getLocation()" id="get-location">Where are you?</button>
  <button id="remove-location">Remove Coordinates</button>
</div>
