<div class="geo-location-container">
  <h3>HTML5 geoLocation API in action</h3>
  <div>
    <p id ="geo-message">Click the button to see your location</p>
    <button id="get-location">Where are you?</button>
    <button id="remove-location">Remove Coordinates</button>
  </div>
  <div id="trip-meter">
    <p>
      Starting Location (lat, lon)
      <span id="starting-latitude">???</span>,
      <span id="starting-longitude">???</span>
    </p>
    <p>
      Current Location (lat, lon)
      <span id="current-latitude">???</span>,
      <span id="current-longitude">???</span>
    </p>
    <p>
      Distance travelled:
      <span id="distance-travelled">0</span>
    </p>
    <p>
      Altitude: <span id="altitude">0</span>
    </p>
  </div>
  <!-- Position display -->
  <div id="myposition"></div>

  <!-- Google Maps -->
  <div id="map" style="width:640px;height:480px"></div>
</div>
