<div class="local-storage">
  <h3>HTML5 localStorage API in action</h3>
  <output id="counter"></output>

  <button id="show-local-storage">
    Show all data in localStorage
  </button>
  <output id="list"></output>

  <button id="add-item-to-local-storage">
    Add data to localStorage
  </button>
  <button id="remove-item-from-local-storage">
    Remove data from localStorage
  </button>
  <button id="clear-local-storage">
    Clear data in localStorage
  </button>
</div>
