<%= content_for :title do %><%= action_name %><% end %>
<h1>Contact me</h1>


<%= form_tag reply_messages_path, method: :post, class: "navbar-form navbar-left search-form" do %>
  <%= render "message_form" %>
<% end %>
