<h1>Messages#reply</h1>
<p>Find me in app/views/messages/reply.html.erb</p>

<%= form_tag reply_messages_path, method: :post, class: "navbar-form navbar-left search-form" do %>
  <%# text_field_tag(
    :From,
    params[:From],
    placeholder:"Enter phone number",
    class: "form-control"
  ) %>
  <%# text_field_tag(
      :Body,
      params[:Body],
      placeholder: "Body",
      class: "form-control"
  ) %>
  <%= submit_tag "Send" %>
<% end %>
