<section class="debug about-me-section container col-md-12">
  <h1>About Me</h1>
  <div class="row">
    <div class="col-md-offset-2 col-md-8">
      <p>
        I recently made a career change and graduated from Dev Bootcamp SF in May.  Prior to attending DBC, I was a Store Manager for GNC in the San Francisco region for the last three years where my store was ranked in the top five.  Through personal acquaintances I became intrigued by the tech industry.  As I researched the possibility of becoming a web developer, I discovered this would be a fulfilling path to utilize my creativity and analytical thinking. Having gone through DBC’s 19-week intensive course, I feel my decision is the right one and I look forward to the many challenges and opportunities that the tech community will provide.  I am excited to incorporate my skills and experience I have acquired in a new position within the industry.
      </p>
    </div>
  </div>
</section>