<section itemscope itemtype="http://schema.org/Person" class="debug section about-me-section container col-md-12">
  <h2 class="center">About Me</h2>
  <div class="row">
    <div class="col-md-offset-2 col-md-8">
      <p>
        Hi, my name is <span itemprop="name" translate="no" >Dillon</span><span itemprop="familyName" translate="no">Downey</span>
        I recently made a career change and graduated from Dev Bootcamp</span> in <time datetime="2015-05">May 2015</time>.  Prior to attending DBC, I was a Store Manager for <span translate="no">GNC</span>(General Nutrition Center) in the San Francisco region for the last three years where my store was ranked in the top five.  Through personal acquaintances I became intrigued by the tech industry.  As I researched the possibility of becoming a <span itemprop="JobTitle">web developer</span>, I discovered this would be a fulfilling path to utilize my creativity and analytical thinking. Having gone through <span itemprop="alumniof"translate="no"> Dev BootCamp</span>’s 19-week intensive course, I feel my decision is the right one and I look forward to the many challenges and opportunities that the tech community will provide.  I am excited to incorporate my skills and experience I have acquired in a new position within the industry.
      </p>
    </div>
  </div>
</section>
