<section class="debug container section col-md-12">
  <h1>Canvas Art</h1>
  <div class="debug row">
    <canvas id="myCanvas" width="300" heigbt="500">\
      Your browser does not support the canvas tag.
    </canvas>
  </div>
</section>