<section class="debug container canvas-section section col-md-12">
  <h2>Canvas Art</h2>
  <div class="debug row">
    <canvas id="myCanvas">
      Your browser does not support the canvas tag.
    </canvas>
  </div>
</section>