<section class="debug container section col-md-4 col-md-offset-4">
  <h2 class="sr-only">Want to change the background?</h2>
  <div class="debug row">
    <form>
      <label>Select a Background Color:</label>
      <input type="color" id="colorChooser" list="colors">
      <datalist id="colors">
        <option label="blue" value="#0000FF"></option>
        <option label="green" value="#00FF00"></option>
        <option label="red" value="#FF0000"></option>
        <option label="white" value="#FFFFFF"></option>
      </datalist>
    </form>
  </div>
</section>
