<!-- Footer -->
<footer>
  <nav class="debug navbar navbar-default navbar-fixed-bottom row text-center">
      <h1 class="sr-only">Social-media Navigation</h1>
      <span class="fa-stack fa-lg">
        <i class="fa fa-circle-o fa-stack-2x"></i>
        <i class="fa fa-twitter fa-stack-1x"></i>
      </span>
      <span class="fa-stack fa-lg">
        <i class="fa fa-circle fa-stack-2x"></i>
        <i class="fa fa-envelope fa-stack-1x fa-inverse"></i>
      </span>
      <span class="fa-stack fa-lg">
        <i class="fa fa-circle fa-stack-2x"></i>
        <i class="fa fa-github fa-stack-1x fa-inverse"></i>
      </span>
      <span class="fa-stack fa-lg">
        <i class="fa fa-circle fa-stack-2x"></i>
        <i class="fa fa-linkedin fa-inverse fa-stack-1x"></i>
      </span>
    </nav>
</footer>

