<!-- Footer -->
<footer>
  <nav class="debug blue navbar navbar-default navbar-fixed-bottom row text-center">
    <h2 class="sr-only">Footer Navigation</h2>
    <div class="col-md-12">
    <%= render 'partials/social_media_nav' %>
    </div>
  </nav>
</footer>
