<!-- Footer -->
<footer>
  <nav class="debug navbar navbar-inverse navbar-fixed-bottom row text-center">
    <div class="col-md-12">
    <%= render 'partials/social_media_nav' %>
    </div>
  </nav>
</footer>

