<footer class="debug">
  <h1 class="sr-only">Footer</h2>
  <nav id="footer__nav" class="debug flex-container social-media-nav text-center" itemscope itemtype="http://schema.org/Person">
    <h2 class="sr-only">Dillon Downey's social-media / contact navigation</h2>
    <a class="flex-item" href="mailto:downeydillon@gmail.com" itemprop="email">
      <span class="fa-stack fa-lg">
        <i class="fa fa-circle fa-stack-2x"></i>
        <i class="fa fa-envelope fa-stack-1x fa-inverse"></i>
      </span>
    </a>
    <a class="flex-item" href="https://twitter.com/downeydillon1" itemprop="url">
      <span class="fa-stack fa-lg">
        <i class="fa fa-circle-o fa-stack-2x"></i>
        <i class="fa fa-twitter fa-stack-1x"></i>
      </span>
    </a>
    <a class="flex-item" href="https://github.com/downeyd27" itemprop="url">
      <span class="fa-stack fa-lg">
        <i class="fa fa-circle fa-stack-2x"></i>
        <i class="fa fa-github fa-stack-1x fa-inverse"></i>
      </span>
    </a>
    <a class="flex-item" href="https://www.linkedin.com/in/dillondowney" itemprop="url">
      <span class="fa-stack fa-lg">
        <i class="fa fa-circle fa-stack-2x"></i>
        <i class="fa fa-linkedin fa-inverse fa-stack-1x"></i>
      </span>
    </a>
  </nav>
  <%# render 'partials/social_media_nav' %>
</footer>
