<section id="history-section" class="debug history-section container col-md-12">
  <h1>History</h1>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque possimus perferendis nobis saepe adipisci sint, nisi tempore minus laboriosam perspiciatis, omnis quasi non nihil quia itaque incidunt sed tempora accusantium!</p>
  <!-- Youth -->
  <div class="debug col-md-3 col-xs-12">
    <figure>
      <%= image_tag("solvang-sign-267x200.jpg", alt: "Solvang", class: "image-responsive") %>
      <figcaption><h4>Youth</h4></figcaption>
    </figure>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam minus perferendis fugit quod ullam accusantium est nemo iste vero laboriosam optio saepe, nobis magni debitis veritatis placeat aspernatur pariatur doloremque.</p>
  </div>
  <!-- College -->
  <div class="debug col-md-3 col-xs-12">
    <figure>
      <%= image_tag("ssu-clocktower-159x200.jpg", alt: "Sonoma State Clock Tower", class: "image-responsive") %>
      <figcaption><h4>College</h4></figcaption>
    </figure>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam minus perferendis fugit quod ullam accusantium est nemo iste vero laboriosam optio saepe, nobis magni debitis veritatis placeat aspernatur pariatur doloremque.</p>
  </div>
  <!-- Management -->
  <div class="debug col-md-3 col-xs-12">
    <figure>
      <%= image_tag("gnc-224x200.jpg", alt: "Management", class: "image-responsive") %>
      <figcaption><h4>Management</h4></figcaption>
    </figure>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam minus perferendis fugit quod ullam accusantium est nemo iste vero laboriosam optio saepe, nobis magni debitis veritatis placeat aspernatur pariatur doloremque.</p>
  </div>
  <!-- Dev Bootcamp -->
  <div class="debug col-md-3 col-xs-12">
    <figure>
      <%= image_tag("dev_bootcamp_logo_208x200.png", alt: "Dev Bootcamp", class: "image-responsive") %>
      <figcaption><h4>Dev BootCamp</h4></figcaption>
    </figure>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam minus perferendis fugit quod ullam accusantium est nemo iste vero laboriosam optio saepe, nobis magni debitis veritatis placeat aspernatur pariatur doloremque.</p>
  </div>
</section>