<div class="flex-container">

  <section id="portfolio-pic-section" class="debug " itemscope itemtype="http://schema.org/Person">
    <figure class="debug" itemprop="image">
      <%= image_tag("Dillon-500x333.jpg", width: "500", height: "333", alt: "Dillon Downey\'s portfolio picture") %>
      <figcaption>
        <h2>Junior Web Developer Seeking New Opportunities </h2>
      </figcaption>
      <!-- ##################################### -->
      <!-- ######### SOCIAL MEDIA NAV########### -->
      <%= render 'partials/social_media_nav' %>
      <!-- ######### SOCIAL MEDIA NAV########### -->
      <!-- ##################################### -->
    </figure>
  </section>

  <section id="about-me-section" itemscope itemtype="http://schema.org/Person" class="debug ">
    <h2 class="debug">About Me</h2>
    <p class="debug about-me-paragraph">
      Hi, my name is <span itemprop="name" translate="no" >Dillon</span><span itemprop="familyName" translate="no">Downey</span>
      I recently made a career change and graduated from Dev Bootcamp</span> in <time datetime="2015-05">May 2015</time>.  Prior to attending DBC, I was a Store Manager for <span translate="no">GNC</span>(General Nutrition Center) in the San Francisco region for the last three years where my store was ranked in the top five.  Through personal acquaintances I became intrigued by the tech industry.  As I researched the possibility of becoming a <span itemprop="JobTitle">web developer</span>, I discovered this would be a fulfilling path to utilize my creativity and analytical thinking. Having gone through <span itemprop="alumniof"translate="no"> Dev BootCamp</span>’s 19-week intensive course, I feel my decision is the right one and I look forward to the many challenges and opportunities that the tech community will provide.  I am excited to incorporate my skills and experience I have acquired in a new position within the industry.
      </p>
  </section>
</div>
