<section class="debug intro-section container col-md-12">
  <header>
    <h1>Welcome to my Personal Web Page!</h1>
  </header>
  <!-- <div class=" debug col-md-12"> -->
    <figure class="debug row">
      <%= image_tag("wedding-pic.jpg", alt: "Dillon Downey\'s", class: "image-responsive") %>
        <figcaption>
          <h2>Recent Dev BootCamp Graduate Seeking Full Stack Developer opportunities</h2>
        </figcaption>
    </figure>
    <nav class="debug row text-center">
      <%= render 'partials/social_media_nav' %>
    </nav>
  <!-- </div> -->
</section>