<section class="debug intro-section container col-md-12">
  <header>
    <h1>Welcome to my Personal Web Page!</h1>
  </header>
  <div class=" debug col-md-12">
    <figure class="debug row">
      <%= image_tag("wedding-pic.jpg", alt: "Dillon Downey\'s", class: "image-responsive") %>
        <figcaption>
          <p>Recent Dev BootCamp Graduate Seeking Full Stack Developer opportunities</p>
        </figcaption>
    </figure>
    <%= render 'partials/social_media_nav' %>
  </div>
</section>