<section class="debug" itemscope itemtype="http://schema.org/Person">
  <!-- MAIN PICTURE OF ME -->
  <figure class="debug" itemprop="image">
    <%= image_tag("Dillon-900x600.jpg", alt: "Dillon Downey\'s portfolio picture", class: "image-responsive img-circle") %>
    <figcaption>
      <h2>Dev BootCamp Graduate Seeking Web Developer Opportunities </h2>
    </figcaption>
  </figure>

  <%= render 'partials/social_media_nav' %>
</section>
