<section id="interests-section" class="debug interests-section section container col-md-12">
  <h1>Interests</h1>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque possimus perferendis nobis saepe adipisci sint, nisi tempore minus laboriosam perspiciatis, omnis quasi non nihil quia itaque incidunt sed tempora accusantium!</p>
  <!-- Space -->
  <div class="debug col-md-3 col-xs-12">
    <figure>
      <%= image_tag("falcon-heavy-rocket-133x200.jpg", alt: "Rocket leaving Earth's atmosphere", class: "image-responsive") %>
      <figcaption><h4>Space</h4></figcaption>
    </figure>
    <p>
      Space has always been an interests of mine.  Whether it is the things humans discover or the inventions we create in the pursuit of curiousity, there is nothing that doesn't fascinate me about how far we have come and even more excited about where we will go.
    </p>
  </div>
  <!-- Clean Energy -->
  <div class="debug col-md-3 col-xs-12">
    <figure>
      <%= image_tag("clean-energy-267x200.jpg", alt: "Clean Energy", class: "image-responsive") %>
      <figcaption><h4>Clean Energy</h4></figcaption>
    </figure>
    <p>
      I'm always looking for new ways to conserve or to use energy more efficiently.  Whether it is capturing water from the faucet while it heats or turning off lights after leaving the room, I'm always thinking how I can be part of the solution instead of part of the problem.  My ultimate goal is to have a self-sustaining property including solar, growing food, capturing water, and anything else to minimize my families footprint.
    </p>
  </div>
  <!-- Brewing -->
  <div class="debug col-md-3 col-xs-12">
    <figure>
      <%= image_tag("brewing-in-kitchen-150x200.jpg", alt:"Transfering homebrew to secondary fermentor in apartment kitch", class: "image-responsive") %>
      <figcaption><h4>Brewing</h4></figcaption>
    </figure>
    <p>
      Homebrewing and quality brews has been a passion of mine for a few years now.  These is nothing more statisfying than being able to consume something you created yourself.
    </p>
  </div>
  <!-- Gardening -->
  <div class="debug col-md-3 col-xs-12">
    <figure>
      <%= image_tag("patio-garden-150x200.jpg", alt: "Hop, Meyer lemon tree, and olive tree in containers on patio", class: "image-responsive") %>
      <figcaption><h4>Gardening</h4></figcaption>
    </figure>
    <p>
      My enthusiasm for homebrewing has spilled over into the art of hop growing. Only my second year with these rhizomes.  Hopefully I'll be able to brew with some of my own hops this year.  Watch out for those spider mites!
    </p>
  </div>
</section>