<section class="debug intro-section container col-md-12">
  <header>
    <h1>Welcome to my Personal Web Page!</h1>
  </header>
  <div class=" debug col-md-12">
    <figure class="debug row">
      <%= image_tag("wedding-pic.jpg", alt: "Dillon Downey\'s", class: "image-responsive") %>
        <figcaption>
          <p>Recent Dev BootCamp Graduate Seeking Full Stack Developer opportunities</p>
        </figcaption>
    </figure>
    <nav class="debug row text-center">
      <span class="fa-stack fa-lg">
        <i class="fa fa-circle-o fa-stack-2x"></i>
        <i class="fa fa-twitter fa-stack-1x"></i>
      </span>
      <span class="fa-stack fa-lg">
        <i class="fa fa-circle fa-stack-2x"></i>
        <i class="fa fa-envelope fa-stack-1x fa-inverse"></i>
      </span>
      <span class="fa-stack fa-lg">
        <i class="fa fa-circle fa-stack-2x"></i>
        <i class="fa fa-github fa-stack-1x fa-inverse"></i>
      </span>
      <span class="fa-stack fa-lg">
        <i class="fa fa-circle fa-stack-2x"></i>
        <i class="fa fa-linkedin fa-inverse fa-stack-1x"></i>
      </span>
    </nav>
  </div>
</section>