<section class="debug intro-section container col-md-12 section">
  <!-- MAIN PICTURE OF ME -->
  <figure class="debug row" itemscope itemtype="http://schema.org/Person">
    <div itemprop="image">
      <%= image_tag("Dillon-900x600.jpg", alt: "Dillon Downey\'s portfolio picture", class: "image-responsive img-circle") %>
    </div>
      <figcaption>
        <h2>Dev BootCamp Graduate Seeking Web Developer Opportunities </h2>
      </figcaption>
  </figure>
  <!-- SOCIAL MEDIA ICONS -->
  <%= render 'partials/social_media_nav' %>
</section>
