<section id="interests-section" class="debug interests-section container col-md-12">
  <h1>Interests</h1>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque possimus perferendis nobis saepe adipisci sint, nisi tempore minus laboriosam perspiciatis, omnis quasi non nihil quia itaque incidunt sed tempora accusantium!</p>
  <!-- Space -->
  <div class="debug col-md-3 col-xs-12">
    <figure>
      <%= image_tag("falcon-heavy-rocket-133x200.jpg", alt: "Rocket leaving Earth's atmosphere", class: "image-responsive") %>
      <figcaption><h4>Space</h4></figcaption>
    </figure>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam minus perferendis fugit quod ullam accusantium est nemo iste vero laboriosam optio saepe, nobis magni debitis veritatis placeat aspernatur pariatur doloremque.</p>
  </div>
  <!-- Clean Energy -->
  <div class="debug col-md-3 col-xs-12">
    <figure>
      <%= image_tag("clean-energy-267x200.jpg", alt: "Clean Energy", class: "image-responsive") %>
      <figcaption><h4>Clean Energy</h4></figcaption>
    </figure>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam minus perferendis fugit quod ullam accusantium est nemo iste vero laboriosam optio saepe, nobis magni debitis veritatis placeat aspernatur pariatur doloremque.</p>
  </div>
  <!-- Brewing -->
  <div class="debug col-md-3 col-xs-12">
    <figure>
      <%= image_tag("brewing-in-kitchen-150x200.jpg", alt:"Transfering homebrew to secondary fermentor in apartment kitch", class: "image-responsive") %>
      <figcaption><h4>Brewing</h4></figcaption>
    </figure>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam minus perferendis fugit quod ullam accusantium est nemo iste vero laboriosam optio saepe, nobis magni debitis veritatis placeat aspernatur pariatur doloremque.</p>
  </div>
  <!-- Gardening -->
  <div class="debug col-md-3 col-xs-12">
    <figure>
      <%= image_tag("patio-garden-150x200.jpg", alt: "Hop, Meyer lemon tree, and olive tree in containers on patio", class: "image-responsive") %>
      <figcaption><h4>Gardening</h4></figcaption>
    </figure>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam minus perferendis fugit quod ullam accusantium est nemo iste vero laboriosam optio saepe, nobis magni debitis veritatis placeat aspernatur pariatur doloremque.</p>
  </div>
</section>