<section class="debug container just-for-fun-section section col-md-12">
  <h2>Just for fun!</h2>
  <div class="debug row">
    <canvas id="myCanvas">
      Your browser does not support the canvas tag.
    </canvas>
  </div>
</section>
