<nav class="debug blue flex-main-nav">
  <h1 class="sr-only">Main Navigation</h1>
  <div class="flex-item">
    <a class="link" href="https://downeyd27.github.io/blog/blog-index.html">Blog</a>
    <a class="link" href="https://resume.creddle.io/resume/1rktq4ubpei">R&#233;sum&#233;</a>
  </div>
</nav>






<!-- Navigation -->
<!-- <nav class="debug blue navbar navbar-default navbar-fixed-top">
  <h2 class="sr-only">Main Navigation</h2>
  <div id="collapsed-navbar-container" class="container-fluid">
    <div class="navbar-header">

      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="http://dillondowney.herokuapp.com/">
        <span translate="no">Dillon Downey</span>
      </a>
    </div>

    <div id="myNavbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-right close">
        <li><a class="link" href="https://downeyd27.github.io/blog/blog-index.html">Blog</a></li>
        <li><a class="link" href="https://resume.creddle.io/resume/1rktq4ubpei">R&#233;sum&#233;</a></li>
      </ul>
    </div>
  </div>
</nav> -->
