<nav class="debug blue flex-nav">
  <h1 id="main-h1" class="sr-only flex-item">Main Navigation</h1>
  <a class="flex-item top-nav-link" href="https://downeyd27.github.io/blog/blog-index.html">Old Blog</a>
  <a class="flex-item top-nav-link" href="https://resume.creddle.io/resume/1rktq4ubpei">R&#233;sum&#233;</a>
</nav>
