<!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top">
  <h1 class="sr-only">Main Navigation</h1>
  <div id="collapsed-navbar-container" class="container-fluid">
    <div class="navbar-header">

      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="index">
        <span translate="no">Downey</span> Development and Design
      </a>
    </div> <!-- closes navbar-header -->

    <div id="myNavbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-right close">
        <li><a href="#skills-section">Skills</a></li>
        <li><a href="#projects-section">Projects</a></li>
        <li><a href="#history-section">History</a></li>
        <li><a href="#interests-section">Interests</a></li>
        <li><a href="https://downeyd27.github.io/blog/blog-index.html">Blog</a></li>
        <li><a href="https://resume.creddle.io/resume/1rktq4ubpei">R&#233;sum&#233;</a></li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>