<section id="projects-section" class="debug section about-me-section container col-md-12">
  <h2 class="center">Projects</h2>
  <div class="row">
    <div class="col-md-offset-2 col-md-8">
      <a href="//github.com/downeyd27/yago_exp"><%= image_tag('team-yago-550x413.jpg', alt: "Team Yago", class: 'project-image') %></a>
    </div>
    <div class="col-md-offset-2 col-md-8">
      <a href="http://dillondowney.herokuapp.com/">
        <%= image_tag('website-project-360x360.png', alt: "Dillon Downey's Personal Website", class: 'project-image') %>
      </a>
    </div>
  </div>
</section>
