<section class="debug">
  <h2 class="debug center">Projects</h2>
  <div class="debug">
    <a href="//github.com/downeyd27/yago_exp"><%= image_tag('team-yago-550x413.jpg', alt: "Team Yago", class: 'project-image') %></a>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  </div>
  <div class="">
    <a href="http://dillondowney.herokuapp.com/">
      <%= image_tag('website-project-360x360.png', alt: "Dillon Downey's Personal Website", class: 'project-image') %>
    </a>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere praesentium odit, dolore consequuntur consequatur voluptatem quae harum suscipit cupiditate dolores illum, laborum dolor qui et doloremque voluptas eum adipisci similique.</p>
  </div>
</section>
