<section id="projects-section" class="debug section about-me-section container col-md-12">
  <h2 class="center">Projects</h2>
  <div class="row">
    <div class="col-md-offset-2 col-md-8">
      <div id="projects-carousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
          <li data-target="#projects-carousel" data-slide-to="0" class="active"></li>
          <li data-target="#projects-carousel" data-slide-to="1"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="project-carousel carousel-inner" role="listbox">
          <div class="item active">
            <a href="https://github.com/downeyd27"><%= image_tag('team-yago-480x360.jpg', alt: "Team Yago", class: 'project-image') %></a>
            <div class="carousel-caption">
              Final Project with Yago the Parrot AR Drone
            </div>
          </div>
          <div class="item">
            <%= image_tag('website-project-360x360.png', alt: "Dillon Downey's Personal Website", class: 'project-image') %>
          </div>
        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#projects-carousel" role="button" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#projects-carousel" role="button" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
  </div>
</section>