<!-- TODO: Refactor so the h1 tag is within the section. -->

<div class="debug projectsHeader">
  <h1 class="debug">Projects</h1>
</div>

<div class="debug projectSection">
  <section class="debug">
    <figure class="debug projectSection__figure">
      <a class= "debug projectSection__Link" href="//github.com/downeyd27/yago_exp"><%= image_tag("team-yago-550x413.jpg", width: "500", height: "500", alt: "Team Yago group picture", class: "debug projectSection__image") %></a>
      <figcaption class="debug projectSection__figcaption">
        <p class="debug">
          Yago is a JavaScript based app that is intended to improve upon static selfie photos by introducing a means of recording our life's events with a drone using GPS and video-feed images.  This app allows you to control a Parrot AR drone 2.0 via a keyboard and record videos to your local directory.  Yago uses Sockets.io for realtime communication to the web browser, Express.js as a web framework, and jQuery to interact with the hud (heads up display).  Built in a week.
        </p>
      </figcaption>
    </figure>
  </section>
  <section class="debug">
    <figure class="debug projectSection__figure">
      <a class= "debug projectSection__Link" href="http://dillondowney.herokuapp.com/">
        <%= image_tag("website-project-360x360.png", width:"500", height: "500", alt: "Dillon Downey's Personal Website", class: "debug projectSection__image") %>
      </a>
      <figcaption class="debug projectSection__figcaption">
        <p class="debug">
          This website is a constant work in progress to showcase projects and other personal endevours . Feel free to email me constructive feedback or bug issues.
        </p>
      </figcaption>
    </figure>
  </section>
</div>
