<section class=" debug video-section section container col-md-12">
  <h1>Videos</h1>
  <div class="debug row">
    <div class=" debug col-md-offset-2 col-md-8">
      <video class="debug" id="video-player" width="320" height="240" controls="controls" preload="none">
        <source src="#" type="video/mp4">
        Your browser does not support the <video> element.
      </video>
    </div>
  </div> <!-- closes row -->
</section>