<h1>Hello, World!</h1>
<section class="debug intro-section container col-md-12">
  <header>
    <h1>Welcome to my Personal Web Page!</h1>
  </header>
  <div class=" debug col-md-12">
    <figure class="debug row">
      <%= image_tag("wedding-pic.jpg", alt: "Dillon Downey\'s") %>
        <figcaption>
          <p>Recent Dev BootCamp Graduate Seeking Full Stack Developer opportunities</p>
        </figcaption>
    </figure>
    <nav class="debug row text-center">
      <span class="fa-stack fa-lg">
        <i class="fa fa-circle-o fa-stack-2x"></i>
        <i class="fa fa-twitter fa-stack-1x"></i>
      </span>
      <span class="fa-stack fa-lg">
        <i class="fa fa-circle fa-stack-2x"></i>
        <i class="fa fa-envelope fa-stack-1x fa-inverse"></i>
      </span>
      <span class="fa-stack fa-lg">
        <i class="fa fa-circle fa-stack-2x"></i>
        <i class="fa fa-github fa-stack-1x fa-inverse"></i>
      </span>
      <span class="fa-stack fa-lg">
        <i class="fa fa-circle fa-stack-2x"></i>
        <i class="fa fa-linkedin fa-inverse fa-stack-1x"></i>
      </span>
    </nav>
  </div>
</section>

<section class="debug about-me-section container col-md-12">
  <h1>About Me</h1>
  <div class="row">
    <div class="col-md-offset-2 col-md-8">
      <p>
        I recently made a career change and graduated from Dev Bootcamp SF in May.  Prior to attending DBC, I was a Store Manager for GNC in the San Francisco region for the last three years where my store was ranked in the top five.  Through personal acquaintances I became intrigued by the tech industry.  As I researched the possibility of becoming a web developer, I discovered this would be a fulfilling path to utilize my creativity and analytical thinking. Having gone through DBC’s 19-week intensive course, I feel my decision is the right one and I look forward to the many challenges and opportunities that the tech community will provide.  I am excited to incorporate my skills and experience I have acquired in a new position within the industry.
      </p>
    </div>
  </div>
</section>