$orange: #c86208;
$grey: #e6eaed;
$blue: #b5cae1;
$navy:  #455060;
$black: #05080f;

.debug  { outline: 1px solid red }
.blue   { background-color: $blue; }

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}

html { height: 100%; }

body {
  background-color: $navy !important;
  color: $black;
  font-family: 'Droid Sans', serif;
}

h1 {
  letter-spacing: 1px;
}

h1, h2, h3 {
  text-align: center;
  background-color: $grey;
  border: 2px solid $black;
  border-radius: 1em;
  padding: .4em .4em;
  font-family: 'Droid Serif', serif;
}

p {
  margin: 0.5em 25px;
  font-size: 1.2em;
  color: $black;
  display: block;
}

// a:visited { color: #0c0 }
a:link    { color: #c00 }
a:hover   { color: #00c }
a:active  { color: #ccc }

a {
  color: $black;
  font-size: 1.5em;
  text-decoration: none;
}

.introContainer__aboutMeSection,
.introContainer__portfolioPicSection{
  width: 45%;
  background-color: $grey;
  border: 2px solid $black;
  overflow-y: auto;
}

@media all and (max-width: 400px) {
  .introContainer__aboutMeSection,
  .introContainer__portfolioPicSection,
  .projectSection {
    width: 95%;
  }
}

figure {
  overflow-y: auto;
}


img {
  margin: 0 auto;
  max-width: 90%;
}

img, figcaption {
  display: table-cell;
  vertical-align: bottom;
  text-align: left;
}

footer {
  display: flex !important;
  justify-content: center;
  align-items: center;
  background-color: $blue;
  margin-top: 25px;
  height: 75px;
  align-items: center;
}

.socialMediaContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
