.blue   { background-color: $blue; }

.mainHeader {
  margin-left: auto;
  margin-right: auto;
}

.introContainer__aboutMeSection,
.introContainer__portfolioPicSection{
  width: 45%;
  background-color: $grey;
  border: 2px solid $black;
  overflow-y: auto;
}

// INTRO SECTION

.introContainer {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.introContainer__aboutMeSection {
  margin-top: 20px;
}

.introContainer__aboutMeSection,
.introContainer__portfolioPicSection {
  border-radius: 5px;
}

.introContainer__portfolioPicSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  figure {
    margin: 20px 0 0 0;
    img {
      box-shadow: 2px 2px 5px 0px;
    }
  }
  h3 {
    margin-left: 10px;
    margin-right: 10px;
  }
  .socialMediaContainer {
    margin-bottom: 20px;
  }
}

@media all and (max-width: 400px) {
  .introContainer__aboutMeSection,
  .introContainer__portfolioPicSection,
  .projectSection {
    width: 95%;
  }
}


@media all and (max-width: 800px) {
  .introContainer {
    flex-direction: column;
  }
  .introContainer__portfolioPicSection,
  .introContainer__aboutMeSection {
    width: 95%;
  }

}
