
.blue   { background-color: $blue; }

.feedbackButton {
  width: 35px;
  height: 150px;
  background-color: $grey;
  position: fixed;

}

.introContainer__aboutMeSection,
.introContainer__portfolioPicSection{
  width: 45%;
  background-color: $grey;
  border: 2px solid $black;
  overflow-y: auto;
}

@media all and (max-width: 400px) {
  .introContainer__aboutMeSection,
  .introContainer__portfolioPicSection,
  .projectSection {
    width: 95%;
  }
}

// INTRO SECTION

.introContainer {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.introContainer__aboutMeSection {
  margin-top: 20px;
}

.introContainer__aboutMeSection,
.introContainer__portfolioPicSection {
  border-radius: 5px;
}

@media all and (max-width: 800px) {
  .introContainer {
    flex-direction: column;
  }
  .introContainer__portfolioPicSection,
  .introContainer__aboutMeSection {
    width: 95%;
  }

}

.introContainer__portfolioPicSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  figure {
    margin: 20px 0;

    h3 {
      margin-left: 10px;
      margin-right: 10px;
    }
  }
  .socialMediaContainer {
    margin-bottom: 20px;
  }
}
