$orange: #c86208;
$grey: #e6eaed;
$blue: #b5cae1;
$navy:  #455060;
$black: #05080f;

.debug  { outline: 0px solid red }
.center { text-align: center; }
.link   { color: $black; }
.blue   { background-color: $blue !important; }

body {
  background-color: $navy !important;
}

body {
  padding-top: 70px;
  padding-bottom: 70px;
  h1 {
    text-align: center;
    background-color: #e7e7e7;
    border: 2px solid #000;
    border-radius: 1em;
    padding: .2em 0;
  }
  p {
    font-size: 1.3em;
  }
}

figure {
  margin: 10px auto;
  display: inline;

  .img-circle {
    display: block;
    margin: 0 auto;
  }
}

.section {
  background-color: $grey;
  text-align: center;
  margin-top: 60px;
  border: 2px solid #000;
  border-radius: 1em;
}

.intro-section {
  .social-media-nav {
    padding-bottom: 10px;
  }
  figure {
    img {
      margin-top: 20px;
    }
  }
}

.about-me-section {
  text-align: left;
}

.just-for-fun-section {
  height: 400px;

  #myCanvas {
    border: 1px solid black;
  }
}

footer {
  .social-media-nav {
    padding-top: 5px;
  }
}
