$orange: #c86208;
$grey: #e6eaed;
$blue: #b5cae1;
$navy:  #455060;
$black: #05080f;

.debug  { outline: 2px solid red }
.center { text-align: center; }
.blue   { background-color: $blue !important; }

html {
  height: 100%;
}

figcaption {
  text-align: center;
}

p {
  font-size: 1.3em;
  color: $black;
}

a:link    { color: #c00 }  /* unvisited links */
a:visited { color: #0c0 }  /* visited links   */
a:hover   { color: $blue }  /* user hovers     */
a:active  { color: #ccc }  /* active links    */

h1 {
  font-size: 2em;
  text-align: center;
  background-color: $grey;
  border: 2px solid $black;
  border-radius: 1em;
  padding: .2em 0;
}

h2 {
  font-size: 1.5em;
  text-align: center;
  background-color: $grey;
  border: 2px solid $black;
  border-radius: 1em;
  padding: .2em 0;
}

nav {
  a {
    color: $black;
    font-size: 2em;
    margin: 0 20px 0 0;
  }
}

body {
  background-color: $navy !important;
  color: $black;
}

#portfolio-pic-section, #about-me-section  {
  width: 50%;
}

.section {
  background-color: $grey;
  text-align: center;
  border: 2px solid $black;
  border-radius: 1em;
}

footer {
  background-color: $blue;
}
