.debug { outline: 1px solid red }

body {
  padding-top: 70px;
  padding-bottom: 70px;

  h1 {
    text-align: center;
  }
}

figure {
  text-align: center;
  margin: 10px auto;
}

.about-me-section {
  text-align: center;
  margin-top: 60px;
  border: 2px solid black;
  border-radius: 1em 4em 1em 4em;
}

.skills-section {
  text-align: center;
  margin-top: 60px;
}

