.debug { outline: 1px solid red }

body {
  padding-top: 70px;
  padding-bottom: 70px;
}

figure {
  text-align: center;
  margin: 10px auto;
}

.about-me-section {
  text-align: center;
  margin-top: 60px;

}