.debug { outline: 1px solid red }

body {
  background-image: url("ggbridge-1920x1282.jpg");
  background-color: #101010;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  padding-top: 70px;
  padding-bottom: 70px;

  h1 {
    text-align: center;
  }
}

figure {
  text-align: center;
  margin: 10px auto;
}

.about-me-section {
  text-align: center;
  margin-top: 60px;
  border: 2px solid black;
  border-radius: 1em 4em 1em 4em;
}

.skills-section {
  text-align: center;
  border: 2px solid black;
  border-radius: 1em 4em 1em 4em;
  margin-top: 60px;
}

.history-section {
  text-align: center;
  margin-top: 60px;
  border: 2px solid black;
  border-radius: 1em 4em 1em 4em;
}

.interests-section {
  text-align: center;
  margin-top: 60px;
  border: 2px solid black;
  border-radius: 1em 4em 1em 4em;
}
