// TODO: Refactor for more screen size ranges.
// TODO: Figure out why !important is needed now to override large screen size.
/* Medium screens */
@media all and (max-width: 800px) {
  .navContainer {
    justify-content: space-around !important;
  }
  .introContainer {
    flex-direction: column !important;
    align-items: center !important;
  }
  .introContainer__portfolioPicSection,
  .introContainer__aboutMeSection {
    width: 95% !important;
    max-height: 600px !important;
    font-size: 12px !important;
  }
  .projectsSection {
    flex-direction: column !important;
    align-items: center !important;
    & :first-child {
      margin-top: 10px !important;
    }
    section {
      margin-top: 20px !important;
      width: 95% !important;
    }
    .projectCard {
      width: 95% !important;
    }
  }
}

/* Small screens */
@media all and (max-width: 500px) {
  .navContainer {
    flex-direction: column !important;
    align-items: center !important;
  }
  .introContainer__aboutMeSection,
  .introContainer__portfolioPicSection,
  .projectSection {
    width: 95% !important;
  }
}
