.projectsSection {
  @include flex_direction_wrap_justify_align(flex, row, wrap, space-around, center);
  .projectCard {
    @include flex_direction_wrap_justify_align(flex, column, wrap, initial, initial);
    width: 45%;
    margin-bottom: 20px;
    background-color: $grey;
    border: 1px solid $black;
    border-radius: 10px;
    height: 900px;
    // overflow-y: scroll;
    p {
      border: 1px solid $black;
      padding: 5px;
    }
    span {
      font-weight: bold;
      margin-left: 10px;
      &:first-of-type {
        margin-top: 10px;
      }
    }
    .projectCard__header {
      align-self: center;
      // width: 100%;
    }
    a {
      display: flex;
      justify-content: center;

    }
    .projectCard__url {
      display: inline-block;
      text-decoration: underline;
    }
  }
}

.projectFormContainer {
  @include flex_direction_wrap_justify_align(flex, row, wrap, center, center);
  form {
    @include flex_direction_wrap_justify_align(flex, row, wrap, center, center);
    width: 400px;
    border: 1px solid $black;
    margin: 1em;
    border-radius: 5px;
    box-shadow: 2px 2px 7px 0px rgba(50, 50, 50, 0.75);
    label {
      display: block;
      width: 250px;
    }
    input, textarea {
      width: 250px;
      margin-bottom: 7px;
    }
    img {
      margin-bottom: 7px;
    }
  }
}
