$orange: #c86208;
$grey: #e6eaed;
$blue: #b5cae1;
$navy:  #455060;
$black: #05080f;

.projectsHeader {
  display: flex;
  justify-content: center;
  margin: 20px 0;
  h1 {
    width: 100%;
  }
}

.projectSection {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  align-content: space-around;
  section {
    width: 45%;
    height: 800px;
    background-color: $grey;
    border: 1px solid $black;
    border-radius: 5px;
    overflow-y: scroll;
    h2 {
      margin: 0 10px;
    }
  }
}

.projectSection__figcaption {
  margin-top: 10px;
}

@media all and (max-width: 800px) {
  .projectSection {
    flex-direction: column;
    & :first-child {
      margin-top: 10px;
    }
    section {
      margin-top: 20px;
      width: 95%
    }
  }

  figure.projectSection__figure {
    width: 95% !important;
    margin: 10px 0 !important;
  }
}
