<nav class="debug blue navContainer">
  <h2 class="sr-only">Main Navigation</h2>
  <!-- TODO: Add a brand logo -->
  <div class="debug brandLogoContainer">
    <%= link_to "Dillon Downey", root_path %>
  </div>
  <div class="debug navLinkContainer">
    <ul class="debug navLinkContainer__unorderedList">
      <li>
        <%= link_to "Old Blog", "https://downeyd27.github.io/blog/blog-index.html", target: "blank", class:"debug navLinkContainer__link" %>
      </li>
      <li>
        <%= link_to "Resume", "#", class:"debug navLinkContainer__resumeLink navLinkContainer__link"  %>
      </li>
    </ul>
  </div>
</nav>
