<nav class="debug blue navContainer">
  <h1 class="sr-only">Main Navigation</h1>
  <!-- TODO: Add a brand logo -->
  <div class="debug brandLogoContainer">
    <a class="brandLogoContainer__link" href="http://dillondowney.herokuapp.com/">Dillon Downey</a>
  </div>
  <div class="debug navLinkContainer">
    <ul class="debug navLinkContainer__unorderedList">
      <li>
        <a class="debug navLinkContainer__link" href="https://downeyd27.github.io/blog/blog-index.html" target="_blank">Old Blog</a>
      </li>
      <li>
        <a class="debug navLinkContainer__link" href="https://resume.creddle.io/resume/1rktq4ubpei" target="_blank">R&#233;sum&#233;</a>
      </li>
    </ul>
  </div>
</nav>
